.adjust
{
    background-color: bisque;
    height: 500px;
    position: relative;
    top: 50px;
    border-radius: 30px;
}
img
{
    position: relative;
    left: 750px;
    border-radius: 30px;
    bottom: 20px;
}