.flex-container
{
    display: flex;
   border: 2px solid brown;
   width: 200px;
   /* flex-direction: row-reverse; */
   flex-wrap: wrap;
   /* example of amazon website on phone and laptop */
}
.flex-item
{
  border: 1px solid blueviolet;
  width: 100px;
  flex-shrink: 0;

}